name: build whl and uploads

on:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-cpu:
    runs-on: windows-2019
    env:
      TEMP: C:\\Users\\runneradmin\\Temp
      TMP: C:\\Users\\runneradmin\\Temp
      PYTHONUNBUFFERED: '1'
    steps:
    - name: Show user home
      run: ls ~
    - name: Show cpu info
      run: Get-CimInstance Win32_Processor
    - name: Show memory info
      run: Get-CimInstance Win32_PhysicalMemory | Format-Table Tag, DeviceLocator, Capacity, Speed
    - name: Show disk info
      run: Get-Volume -DriveLetter CD | Sort-Object DriveLetter
    - name: Show pagefile info original
      run: |
        Get-CimInstance Win32_ComputerSystem | Select AutomaticManagedPagefile
        Get-CimInstance Win32_PageFileSetting | Select Name, InitialSize, MaximumSize
    - name: Configure pagefile
      uses: al-cheb/configure-pagefile-action@v1.2
      with:
        minimum-size: 8GB
        maximum-size: 32GB
        disk-root: "C:"
    - name: Show pagefile info
      run: |
        Get-CimInstance Win32_ComputerSystem | Select AutomaticManagedPagefile
        Get-CimInstance Win32_PageFileSetting | Select Name, InitialSize, MaximumSize
