name: build whl and uploads

on:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-cpu:
    runs-on: windows-2019
    env:
      TEMP: C:\\Users\\runneradmin\\Temp
      TMP: C:\\Users\\runneradmin\\Temp
      PYTHONUNBUFFERED: '1'
    steps:
    - name: Show user home
      run: ls ~
    - name: Show cpu info
      run: Get-CimInstance Win32_Processor
    - name: Show memory info
      run: Get-CimInstance Win32_PhysicalMemory | Format-Table Tag, DeviceLocator, Capacity, Speed
    - name: Show disk info (original)
      run: Get-Volume -DriveLetter CD | Sort-Object DriveLetter
    - name: Show pagefile info (original)
      run: |
        Get-CimInstance Win32_ComputerSystem | Select AutomaticManagedPagefile
        Get-CimInstance Win32_PageFileSetting | Select Name, InitialSize, MaximumSize
    - name: Configure pagefile
      uses: al-cheb/configure-pagefile-action@v1.2
      with:
        minimum-size: 8GB
        maximum-size: 32GB
        disk-root: "C:"
    - name: Show pagefile info
      run: |
        Get-CimInstance Win32_ComputerSystem | Select AutomaticManagedPagefile
        Get-CimInstance Win32_PageFileSetting | Select Name, InitialSize, MaximumSize
    - name: Show disk info
      run: Get-Volume -DriveLetter CD | Sort-Object DriveLetter

    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Create ~/bzl_out and Link
      run: |
        mkdir ~/bzl_out -ErrorAction 0
        New-Item -Type Junction -Target ~/bzl_out -Path D:/bzl_out

    - name: Show ~/bzl_out content
      run: ls ~/bzl_out
    - name: Show D:/bzl_out content
      run: ls ~/bzl_out

    - name: Bazel build
      run: |
        cd examples/cpp-tutorial/stage1
        bazel --output_user_root=D:/bzl_out build //main:hello-world

    - name: Show ~/bzl_out content
      run: ls ~/bzl_out
    - name: Show D:/bzl_out content
      run: ls ~/bzl_out
